.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "create social social schedule"
    "create social social schedule"
    "ai manage maintain schedule"
    "ai audience grow grow";

  height: 95vh;
  width: 100%;
  padding: 1.5rem 3rem;
  gap: 1.5rem;
}

.item {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-item-create {
  grid-area: create;
  background-color: #fdede1;
  /* width: fit-content; */
  padding: 2rem 1.2rem;
}

.grid-item-create p,
.grid-item-create span {
  font-size: 2.5vw;
  width: 10ch;
  line-height: 1;
}

.grid-item-create span {
  color: #7c50e2;
}

.grid-item-create img {
  width: 15vw;
  padding-top: 1rem;
}

.grid-item-ai {
  grid-area: ai;
  background-color: #ffcc69;
  padding: 1rem;
  overflow: hidden;
}

.grid-item-ai p {
  font-size: 2.5vw;
  width: 8ch;
  line-height: 1;
  padding-bottom: 1.5rem;
}

.grid-item-ai img {
  width: 14vw;
}

.grid-item-social {
  grid-area: social;
  background-color: #7651dc;
  color: #f5f5f5;
  text-align: center;
}

.grid-item-social p:first-child,
.grid-item-social span {
  font-size: 5vw;
  width: 12ch;
  font-weight: var(--med-weight);
  line-height: 1;
}

.grid-item-social span:first-child {
  color: #ffcc69;
}

.grid-item-social span:last-child {
  font-style: italic;
}

.grid-item-social p:last-child {
  font-size: 1.5vw;
}

.grid-item-social img {
  padding-top: 1.5rem;
  width: 15vw;
}

.grid-item-manage {
  grid-area: manage;
  background-color: #f3eef2;
  overflow: hidden;
  /* text-align: center; */
}

.grid-item-manage > div {
  width: 100%;
  padding: 2rem;
}

.grid-item-manage img {
  width: 20vw;
}

.grid-item-manage p {
  font-size: 1.5vw;
  line-height: 1;
  width: 10ch;
}

.grid-item-audience {
  grid-area: audience;
}

.grid-item-maintain {
  grid-area: maintain;
}

.grid-item-grow {
  grid-area: grow;
}

.grid-item-schedule {
  grid-area: schedule;
}
