.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "create social social schedule"
    "create social social schedule"
    "ai manage maintain schedule"
    "ai audience grow grow";

  height: 95vh;
  width: 100%;
  padding: 1.5rem 3rem;
  gap: 1.5rem;
  justify-content: center;
}

.item {
  border-collapse: collapse;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-item-create {
  grid-area: create;
  background-color: #fdede1;
  /* width: fit-content; */
  padding: 2rem 1.2rem;
}

.grid-item-create > div {
  width: 100%;
}

.grid-item-create p,
.grid-item-create span {
  font-size: 2.5vw;
  width: 10ch;
  line-height: 1;
}

.grid-item-create span {
  color: #7c50e2;
}

.grid-item-create img {
  width: 15vw;
  padding-top: 1rem;
}

.grid-item-ai {
  grid-area: ai;
  background-color: #ffcc69;
  padding: 1rem;
  overflow: hidden;
}

.grid-item-ai p {
  font-size: 2.5vw;
  width: 8ch;
  line-height: 1;
  padding-bottom: 1.5rem;
}

.grid-item-ai img {
  width: 14vw;
}

.grid-item-social {
  grid-area: social;
  background-color: #7651dc;
  color: #f5f5f5;
  text-align: center;
}

.grid-item-social p:first-child,
.grid-item-social span {
  font-size: 5vw;
  width: 12ch;
  font-weight: var(--med-weight);
  line-height: 1;
}

.grid-item-social span:first-child {
  color: #ffcc69;
}

.grid-item-social span:last-child {
  font-style: italic;
}

.grid-item-social p:last-child {
  font-size: 1.5vw;
}

.grid-item-social img {
  padding-top: 1.5rem;
  width: 15vw;
}

.grid-item-manage {
  grid-area: manage;
  background-color: #f3eef2;
  overflow: hidden;
  /* text-align: center; */
}

.grid-item-manage > div {
  width: 100%;
  padding: 2rem;
}

.grid-item-manage img {
  width: 22vw;
  padding-bottom: 0.75rem;
}

.grid-item-manage p {
  font-size: 2vw;
  line-height: 1;
  width: 10ch;
  font-weight: var(--med-weight);
}

.grid-item-audience {
  grid-area: audience;
  background-color: #f5f5f5;
}

.grid-item-audience p:first-child {
  font-size: 3.5vw;
  font-weight: var(--med-weight);
}

.grid-item-audience img {
  width: 10vw;
  padding-top: 1rem;
}

.grid-item-maintain {
  grid-area: maintain;
  background-color: #ffcc69;
  overflow: hidden;
}

/* .grid-item-maintain > div {
  width: 100%;
  height: 100%;
  padding: 2rem;
} */

.grid-item-maintain p {
  font-size: 2vw;
  width: 10ch;
  font-weight: var(--med-weight);
  line-height: 1;
  /* padding-bottom: 0.65rem; */
}

.grid-item-maintain div > div {
  position: relative;
  width: 100%;
  /* top: 1rem; */
  padding-top: 1rem;
}

.grid-item-maintain img {
  width: 15vw;
  height: 10vw;
  position: absolute;
}

.grid-item-grow {
  grid-area: grow;
  background-color: #7651dc;
}

.grid-item-grow > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
}

.grid-item-grow p {
  font-size: 2.5vw;
  color: #f5f5f5;
  font-weight: var(--med-weight);
  width: 10ch;
  line-height: 1;
}

.grid-item-grow img {
  width: 13vw;
}

.grid-item-schedule {
  grid-area: schedule;
  background-color: #dcd1fc;
  overflow: hidden;
}

.grid-item-schedule > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 0 0 0 2rem;
}

.grid-item-schedule p:first-child {
  font-size: 2.5vw;
  width: 10ch;
  font-weight: var(--med-weight);
}

.grid-item-schedule img {
  width: 25vw;
}

.grid-item-schedule p:last-child {
  font-weight: var(--reg-weight);
  width: 15ch;
  font-size: 1.2vw;
}
